In [3]:
import pandas as pd

# Connecting to API

In [2]:
from requests import get

result = get("API")

for row in result.json():
    # print(row)

SyntaxError: unexpected EOF while parsing (<ipython-input-2-1faa7ffa3e9c>, line 7)

## Connecting to database

In [6]:
import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://tip260@128.39.48.228:3306/TIP260')

In [8]:
df = pd.read_sql_table("TABLE", engine, columns)

NameError: name 'columns' is not defined

In [9]:
query = '''

'''
df = pd.read_sql_query(query, enigne)

NameError: name 'enigne' is not defined

#### Send to DB

In [11]:
   
# df = pd.read_csv("CSV")

# if culumn name is not equal to database coulmname
'''
df.rename({
    "PANDAS COLUMN NAME" : "DATABASE COLUMN NAME"
    }, inplace = True)
'''

'\ndf.rename({\n\n    "PANDAS COLUMN NAME" : "DATABASE COLUMN NAME"\n    }, inplace = True)\n'

In [12]:
'''
df.to_sql(

    name = "COLUMN NAME",
    con = engine,
    index = FALSE,
    if_exists='append'
    )
    
'''

'\ndf.to_sql(\n\n    name = "COLUMN NAME"\n    con = engine\n    )\n    \n'